body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-top: 0;
}

.stopwatch {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.controls {
    margin-bottom: 15px;
}

.controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #45a049;
}

#laps {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    max-height: 200px;
    margin-top: 10px;
    width: 100%;
}

#laps li {
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#clearLapsButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
}

#clearLapsButton:hover {
    background-color: #d32f2f;
}
